/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

.hide-accessible {
   position: absolute !important;
   top: -99999px !important;
   left: -99999px !important;
   width: 2000px;
   height: 2000px;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}
code {
  padding: 2px;
  background: #ddd;
}
/* Micro reset */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

/* main styles */
body, * {
  font-family: 'Arimo', 'Helvetica Neue', 'Arial', sans-serif;
}

#main-wrapper,
#main {
  min-height: 100%;
  display: block;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #0a0a0a;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* non-critical apperance styles */
  padding: 4em;
  background-size: 200%;
}

.main-logo {
  max-width: 100%;
  margin-top: 18%;
}

/* overlay */

.overlay {
  display: none;
}

.overlay.show {
  display: block;
  background: rgba(50,50,50,.99);
  border: 0 none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.overlay button.close {
  display: block;
  position: absolute;
  top: 3%;
  right: 3%;
  background: #fff;
  border-radius: 0 none;
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 50px;
  width: 60px;
  text-align: center;
  transform: rotate(45deg);
  cursor: pointer;
}

/* desktop */

@media only screen and (min-width: 960px) {
  .main-logo {
    margin: 0;
    width: 120px;
    display: block;
  }

}