/* Navigation Menu - Background */
.mobile-navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}
/* Navigation Menu - List items */

.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-bottom: 1px solid #111;
}
.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Arimo', 'Helvetica Neue', 'Arial', sans-serif;
}
.nav-item:nth-child(3n-2) a:hover {
  color: #000000;
  background: #b09218;
}
.nav-item:nth-child(3n-1) a:hover {
  color: #000000;
  background: #de7213;
}
.nav-item:nth-child(3n) a:hover {
  color: #000000;
  background: #d02136;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(255,255,255)'/><rect y='24' width='30' height='6' style='fill:rgb(255,255,255)'/><rect y='12' width='30' height='6' style='fill:rgb(255,255,255)'/></svg>");
  background-size: contain;
}
/* Make the Magic Happen */

.nav-trigger+label, .site-wrap {
  transition: left 0.2s;
}
.nav-trigger:checked+label {
  left: 215px;
}
.nav-trigger:checked~.site-wrap {
  left: 200px;
}
.img-1,
.img-2,
.img-3,
.desktop-nav-wrapper,
.desktop-social-wrapper {
  display: none;
}

@media only screen and (min-width: 960px) {
  .mobile-navigation,
  .nav-trigger,
  label[for="nav-trigger"] {
    display: none;
  }

  .desktop-nav-wrapper {
    display: block;
    width: 50%;
    float: left;
    background: transparent;
  }

  .desktop-navigation {
    display: block;
    float: right;
    padding-top: 6em;
  }

  .desktop-nav-item {

  }
  .desktop-nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: .3em .5em;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Arimo', 'Helvetica Neue', 'Arial', sans-serif;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }
  .desktop-nav-item.extra-padding-top a {
    padding: 1em .5em .25em;
  }

  .lg-img-wrapper {
    display: block;
    float: left;
    width: 50%;
    padding: 2% 8%;
  }
  .lg-img-wrapper img {
    width: 100%;
  }

  .desktop-social-wrapper {
    display: block;
    float: left;
  }

  .img-3 {
    display: block;
  }